<h1>Weapon Details</h1>
<hr>

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home"
      aria-selected="true">Weapon</a>
    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile"
      aria-selected="false">Photos</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

    <div class="list-group">
      <!-- <a href="#" class="list-group-item list-group-item-action">{{weapon.make.name}}</a> -->
      <a href="#" class="list-group-item list-group-item-action">{{weapon.model.name}}</a>
      <a href="#" class="list-group-item list-group-item-action">{{weapon.contact.name}}</a>
      <a href="#" class="list-group-item list-group-item-action">{{weapon.contact.phone}}</a>
      <a href="#" class="list-group-item list-group-item-action disabled">{{weapon.isRegistered}}</a>
    </div>

    <div>
      <div class="list-group">
        <a [routerLink]="['/weapons/edit', weaponId]" type="button" class="btn btn-block btn-primary">Edit</a>
        <a type="button" class="btn btn-block btn-danger" (click)="deleteWeapon()">Delete</a>
        <a [routerLink]="['/weapons']" type="button" class="btn btn-block btn-default">View All Weapons</a>
      </div>
    </div>


  </div>
  <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">...</div>
  <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">...</div>
</div>